.main {
  background-color: var(--gray);
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  filter: drop-shadow(2px 2px 5px var(--dark-gray));
}
