.headerContainer {
  background: var(--dark-blue);
  position: relative;
  height: 6rem;

  display: flex;
  align-items: center;

  padding: 2rem;

  border-radius: 1.5rem 1.5rem 0 0;
  // box-shadow: 2px 2px 5px var(--dark-gray);

  // border-bottom: 1px solid var(--green);

  p {
    margin-left: 2rem;
    margin-right: 2rem;
    font-size: 1.3rem;
    width: 100%;
    text-align: center;
    padding: 0.25rem 0 0.25rem 2rem;
    color: var(--white);
  }

  span {
    margin-left: auto;
    text-transform: capitalize;
    color: var(--white);
  }

  img {
    height: 3rem;
    filter: invert(1);
  }
}
