.container {
  background-color: var(--white);
  border-radius: 0 0 1.5rem 1.5rem;
  padding: 3rem;
  padding-top: 2rem;
  // box-shadow: 2px 2px 5px var(--dark-gray);
}

.loading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  border: 1px solid;
  border-color: var(--dark-gray);
  border-radius: 0.5rem;
  width: 100%;
  height: 300px;
  padding: 1.5rem;
  padding-top: 1rem;

  margin-top: 1.5rem;
  background: var(--light-gray);

  h1 {
    font-size: 1.3rem;
    color: var(--dark-gray);
    animation: blinker 2.5s linear infinite;

    @keyframes blinker {
      50% {
        opacity: 0;
      }
    }
  }
}

.tasksList {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  border: 1px solid;
  border-color: var(--dark-gray);
  border-radius: 0.5rem;
  width: 100%;
  height: 300px;
  padding: 1.5rem;
  padding-top: 1rem;
  overflow: auto;

  margin-top: 1.5rem;

  font-size: 1.3rem;

  .items {
    display: flex;
    justify-content: space-between;
  }
  .trashButton {
    background-color: white;
    margin-top: 0rem;
    width: 2rem;
    height: 2rem;
  }
  /* The container */
  .checkboxContainer {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  /* Hide the browser's default checkbox */
  .checkboxContainer input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 110px;
    width: 0;
  }

  /* Create a custom checkbox */
  .checkmark {
    border: 1px solid gray;
    position: absolute;
    top: 2px;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
  }

  /* On mouse-over, add a grey background color */
  .checkboxContainer:hover input ~ .checkmark {
    background-color: #ccc;
  }

  /* When the checkbox is checked, add a blue background */
  .checkboxContainer input:checked ~ .checkmark {
    background-color: #2196f3;
  }

  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: '';
    position: absolute;
    display: none;
  }

  /* Show the checkmark when checked */
  .checkboxContainer input:checked ~ .checkmark:after {
    display: block;
  }

  /* Style the checkmark/indicator */
  .checkboxContainer .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}

.createTaskForm {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 0.5rem;

  input {
    border: 1px solid;
    border-color: var(--dark-gray);
    border-radius: 0.5rem;
    margin-bottom: 0.5rem;
    width: 100%;
    height: 3rem;
    font-size: 1.3rem;
    margin-left: 0;
  }

  label {
    // display: inline-block;
    margin-bottom: 0.5rem;
    width: 150px;
    text-align: left;
    // white-space: normal;
  }

  .buttons {
    margin-top: 0rem;
    display: flex;
    justify-content: space-between;
    gap: 1rem;

    button {
      height: 2.5em;
      width: 130px;
    }
  }

  .submitButton {
    width: 100%;
    font-size: 1.2rem;
    color: white;
    background: var(--light-blue);
  }
}
